{% extends 'base.html.twig' %}

{% block title %}Crear Factura{% endblock %}

{% block body %}
<div class="container">
    <div class="justify-content-center col-md-6 offset-3">
        <br>
        {% for flashMessage in app.flashes('success') %}
            <div class="alert alert-primary" style="background-color: #add9f9!important;" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="card">
            <h5 class="card-header">Creación de Factura</h5>
            <div class="card-body">
                {{ form_start(form_create_invoice) }}
                    <div class="form-floating mb-3 mt-3 col">
                        <input type="text" class="form-control" id="autocompleteName" name="user_name">
                        <label>Escriba Nombre del Usuario</label>
                    </div>
                    <div class="form-floating mb-3 mt-3 col">
                        <select class="form-select" id="userInvoice" name="userInvoice" style="display: none;"></select>
                        <label>Seleccione un Usuario</label>
                    </div>
                    <div id="serviceOptions" class="form-floating mb-3 mt-3 col" style="display: none">
                        <!-- Aquí se mostrarán las opciones dependiendo del producto seleccionado -->
                    </div>
                    <div class="form-floating mb-3 mt-3 col">
                        <input type="number" class="form-control" id="valueInvoice" name="{{ field_name(form_create_invoice.value) }}" value="{{ field_value(form_create_invoice.value) }}" required style="display: none">
                        <label>{{ field_label(form_create_invoice.value) }}</label>
                    </div>
                    <div class="form-floating mb-3 mt-3 col">
                        <input type="text" class="form-control" name="{{ field_name(form_create_invoice.description) }}" value="{{ field_value(form_create_invoice.description) }}" required>
                        <label>{{ field_label(form_create_invoice.description) }}</label>
                    </div>
                    <div class="form-floating mb-3 mt-3 col">
                        <select class="form-select" name="{{ field_name(form_create_invoice.month_invoiced) }}">
                            {% for label, value in field_choices(form_create_invoice.month_invoiced) %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        <label>{{ field_label(form_create_invoice.month_invoiced) }}</label>
                    </div>
                    <div class="form-floating mb-3 mt-3 col">
                        <select class="form-select" name="{{ field_name(form_create_invoice.concept) }}">
                            {% for label, value in field_choices(form_create_invoice.concept) %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        <label>{{ field_label(form_create_invoice.concept) }}</label>
                    </div>

                {{ form_end(form_create_invoice) }}
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('autocompleteName').addEventListener('input', function() {
        const query = this.value;
        console.log(query)

        fetch(`/user/autocomplete?name=${query}`)
            .then(response => response.json())
            .then(data => {
                const results = document.getElementById('userInvoice');
                results.innerHTML = '';

                if (data.length > 0) {
                    results.style.display = 'block';

                    data.forEach(item => {
                        const option = document.createElement('option');
                        option.value = item.id;
                        option.textContent = item.name;
                        results.appendChild(option);
                    });

                    // Seleccionar automáticamente si solo hay un resultado
                    if (data.length === 1) {
                        results.selectedIndex = 0;
                        results.dispatchEvent(new Event('change'));
                    }
                } else {
                    results.style.display = 'none';
                }
            });
    });

    document.getElementById('userInvoice').addEventListener('change', function () {
        const selectedOption = this.options[this.selectedIndex];
        const userId = selectedOption.value;
        if (userId !== '') {
            fetch('/subscriptions/' + userId + '/service')
                .then(response => response.json())
                .then(data => {
                    if (data.services.length === 0) {
                        alert('El suscriptor no tiene servicios asociados, debe agregar al menos un servicio')
                    } else {
                        // Inicializar el contenedor principal en limpio para el select
                        var inputValue = document.getElementById('valueInvoice')
                        var opcionesDiv = document.getElementById('serviceOptions');
                        opcionesDiv.innerHTML = '';

                        // Crear los elementos html necesarios para mostrar las opciones
                        var select = document.createElement("select");
                        var label = document.createElement("label");

                        // Agregar propiedades necesarias para los elementos html creados
                        select.classList = "form-select";
                        select.id = "serviceUser";
                        select.name = "serviceUser";
                        label.textContent = "Servicios";

                        // Incorporar los elementos creados al contenedor principal
                        opcionesDiv.appendChild(select);
                        opcionesDiv.appendChild(label);
                        opcionesDiv.style.display = 'block';
                        inputValue.style.display = 'block';

                        // Inicializar el contenedor de las opciones disponibles
                        var opcionesSelect = document.getElementById('serviceUser');
                        opcionesSelect.innerHTML = '';

                        // Agregar las opciones disponibles con innerHtml
                        data.services.forEach(function (service) {
                            opcionesSelect.innerHTML += '<option value=' + service.id +'>'+ service.service +'</option>';
                        });
                    }
                })
        } else {
            document.getElementById('serviceOptions').style.display = 'none';
        }
    })
</script>
{% endblock %}
